$primary:#58A9A5;
$secondary: #404242;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1920px
);
$font-sizes: (
  1: 7rem,
  2: 5rem,
  3: 3.5rem,
  4: 3rem,
  5: 2.5rem,
  6: 2rem,
);

$font-weight-bolder: 800;

$border-radius: 1.5rem;

@import "~bootstrap/scss/bootstrap";

@import "fonts";
@import "variables";
html {
  font-size: 10px;
}

body {
  background: #fff;
  font-family: $font-family-poppins;
}

.main-wrapper{
padding: 0 14.6rem;
margin-top: 8rem;
}

.nav-content-wrapper {
  width: 65.5rem;
}

.nav-pills .nav-link.active {
  background-color: transparent;
  color: $primary;
  font-weight: bold;
}


.nav-pills .nav-link.active::after {
  content: '';
  background-color: #FEC62D;
  position: absolute;
  width: 48px;
  height: 6px;
  top: 38px;
  left: calc(50% - 24px);
  border-radius: 21px;
}

.btn-sign-up {
  width: 27.1rem;
  height: 8rem;
  font-weight: 500;
}
