$primary:#58A9A5;
$secondary: #404242;
$light: #CCF0E6;
$dark: #486958;


// do we need to install a spacings and use it margin and paddings?
//  reset all m &p?

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1600px
);
$font-sizes: (
  1: 7rem,
  2: 4rem,
  3: 3.5rem,
  4: 3rem,
  5: 2.5rem,
  6: 2rem,
);

$display-font-sizes: (
  1: 7rem,
  2: 5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
);

$headings-line-height: 1.5;
$font-weight-bolder: 800;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/utilities";

$font-weight-medium: 500;
$font-weight-large: 600;

$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 3.25,
  7: $spacer * 3.5,
  8: $spacer * 3.75,
  9: $spacer * 4,
  10: $spacer * 5,
  11: $spacer * 6,
  12: $spacer * 7,
  13: $spacer * 8,
  14: $spacer * 10,
  15: $spacer * 12,
);

$utilities: (
  "font-weight": (
    property: font-weight,
    class: fw,
    values: (
      light: $font-weight-light,
      lighter: $font-weight-lighter,
      normal: $font-weight-normal,
      medium: $font-weight-medium,
      large: $font-weight-large,
      bold: $font-weight-bold,
      bolder: $font-weight-bolder
    )
  ),
);

$border-radius: 1rem;
$border-radius-sm: 1.5rem;
$border-radius-lg: 2rem;

@import "~bootstrap/scss/bootstrap";

@import "fonts";
@import "variables";
html {
  font-size: 10px;
}

body {
  background: #fff;
  font-family: $font-family-poppins;
}

.main-wrapper{
  padding: 0 1rem;
  @include media-breakpoint-up(xxl) {
    padding: 0 14.6rem;
  };
  max-width: 192rem;
}
// .navbar-brand {
//   font-size: 2.5rem;
//   @include media-breakpoint-up(xl) {
//     font-size: 3.5rem;
//   }
// }
// .navbar-brand img {
//   max-width: 3rem;
//   @include media-breakpoint-up(sm) {
//     max-width: 4rem;
//   }
//   @include media-breakpoint-up(xl) {
//     max-width: 3.7rem;
//   }
// }

.furniture-items{
  max-width: 83.3rem;
}
.nav-content-wrapper {
  // width: 65.5rem;
}

.nav-pills .nav-link.active {
  background-color: transparent;
  color: $primary;
  font-weight: bold;
}


.nav-pills .nav-link.active::after {
  content: '';
  background-color: #FEC62D;
  position: absolute;
  width: 48px;
  height: 6px;
  top: 38px;
  left: calc(50% - 24px);
  border-radius: 21px;
}

.right-shift-picture {
  margin-right: 0;
  @include media-breakpoint-up(xxl) {
    margin-right: -14.1rem;
  }
}

.letter-spacing {
  letter-spacing: 0.8rem;
}

.button-wrapper {
  @include media-breakpoint-up(md) {
    max-width: 27.1rem;
  }
}

.btn-send {
  height: 6rem;
  @include media-breakpoint-up(xl) {
    height: 8rem;
  }
  font-weight: 500;
}

.border-radius-teb {
  border-radius: 20px 20px 20px 0;
}
.video-wrapper {
  margin: 7.1rem 0 15rem;
  height: 100%;

}

.image-video {
  min-height: 35rem;
  background-image: url('/src/images/Rectangle\ 10-1.svg');
  background-position: center;
  background-repeat: no-repeat;

}

.video-button {
  bottom: 2rem;
  right: 49rem;
}

.video-href-wrapper::before {
  content: url(/src/images/video_button.svg);
  position: absolute;
bottom: 2.5rem;
right: 0;
@include media-breakpoint-up(md) {
  bottom: 0;
};
  @include media-breakpoint-up(xl) {
    right: 37.5rem;
    bottom: 1.5rem;
  };
}
.video-text-wrapper {
  width: 549px;
  height: 350px;
}

.video-text-wrapper {
  min-height: 35rem;
  @include media-breakpoint-up(md) {
    max-width: 54.9rem;
  }
}

// .video-href-wrapper {
//   padding: 4.1rem 10.6rem 8.9rem 11.5rem;
// }

.divider {
  width: 13.5rem;
  border: 5px solid $primary;
  margin:0 0 1.5rem;
}

.inspiration-wrapper {
  margin-top: 15.3rem;
}

.inspiration-text-wrapper {
  max-width: 74.3rem;
}

.inspiration-text-wrapper .display-1 {
  max-width: 67.4rem;
  margin-bottom: 5rem;
}
.inspiration-text-wrapper .btn-send {
  margin-top: 5rem;
}

.how-it-works-wrapper {
  margin: 13.6rem 0 2rem;
}

.mission-wrapper {
  max-width: 70.8rem;
  margin-left: 14.2rem;
}

.mission-wrapper h3 {
  max-width: 48.7rem;
  margin-bottom: 5rem;
}

.project-wrapper {
  margin: 12rem 0 2rem;
}

.cards-wrapper {
  margin: 7.9rem 0 25rem;
}

.project-wrapper + .row {
  margin-bottom: 5rem;
}

figure :not(:last-child) {
  margin: 0 9rem 0 0;
}

.numbers-wrapper {
  margin: 6.2rem 0 24rem;
}

.numbers-wrapper .bg-light {
  width: 99.7rem;
}

.form-floating {
  margin-top: 5.7rem;
}

.contact-divider-wrapper {
  margin-top: 3.2rem;
}
// .form-floating textarea {
//   margin-top: ;
// }
// .project-card {
//   width: 45rem;
//   height: 16.6rem;
// }

// .card-img-top, .card-img-bottom {

// }